.books__image {
    width: 240px;
    height: 350px;
    cursor: pointer;
    transition: transform .3s ease-in-out .3s;
}

.books__image:hover {
    transform: scale(1.25);
    -moz-transform: scale(1.25);
   -ms-transform: scale(1.25);
   -webkit-transform: scale(1.25);
   -o-transform: scale(1.25);
}