.section-title {
    color: white;
    text-align: center;
    font-size: 56px;
    text-decoration: underline;
}

@media screen and (max-width: 425px) {
    .section-title {
        font-size: 42px;
    }
}