.map__location_perdido-street-station {
    top: 35%;
    left: 42%;
}

.map__location_brock-marsh {
    top: 42%;
    left: 54%;
}

.map__location_glasshouse {
    top: 50%;
    left: 43.5%;
}

.map__location_bonetown {
    top: 43%;
    right: 30%;
}

.map__location_kinken {
    top: 52%;
    left: 35%;
}

.map__location_griss-twist {
    top: 50%;
    right: 39%;
}

.map__location_spatters {
    bottom: 33%;
    left: 15%;
}

.map__location_salacus-fields {
    bottom: 36%;
    left: 37%;
}

.map__location_new-crobuzon-university {
    top: 31%;
    right: 32.5%;
}

.map__location_dog-fenn {
    bottom: 43%;
    right: 14%;
}

.map__location_strack-island {
    top: 48%;
    right: 35%;
}

.map__location_canker-wedge {
    top: 16.5%;
    left: 39%;
}

.map__location_flag-hill {
    top: 7.5%;
    right: 39%;
}

.map__location_nigh-sump {
    top: 26%;
    right: 17%;
}

.map__location_spit-hearth {
    top: 37.5%;
    left: 46%;
}