.popup__exit {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 40px;
    right: 30px;
    cursor: pointer;
    border: none;
    transition: opacity .5s ease-in-out .5s;
}

.popup__exit:hover {
    opacity: 0.6;
}

@media screen and (max-width: 425px) {
    .popup__exit {
        height: 25px;
        width: 25px;
        top: 5px;
        right: 5px;
    }
}