.page {
    background: black;
    margin: auto;
    position: relative;
    scroll-behavior: smooth;
}

.header {
    margin: auto;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
}

.menu__item {
    list-style-type: none;
    opacity: 1;
    transition: opacity .2s ease-in-out .2s;
}

.menu__item-text {
    color: white;
    text-decoration: none;
}

.menu__item:hover {
    opacity: .6;
}

.lead {
    padding: 25px 0 25px;
    margin: auto;
}

.lead__title {
    color: white;
    text-align: center;
    font-size: 36px;
}

.map-container {
    margin: auto;
    position: relative;
}

.map {
    width: 100%;
}

.map__location {
    border: 1px solid red;
    border-radius: 50%;
    position: absolute;
    width: 100px;
    height: 50px;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    transition: background-color .05s ease-in-out .05s;
}

.map__location:hover {
    background-color: rgba(23, 168, 235, 0.288)
}

.map__location_perdido-station {
    top: 35%;
    left: 42%;
}

.map__location_brock-marsh {
    top: 42%;
    left: 54%;
}

.map__location_glasshouse {
    top: 50%;
    left: 44%;
}

.map__location_bonetown {
    top: 43%;
    right: 32%;
}

.map__location_kinken {
    top: 53%;
    left: 35%;
}

.map__location_griss-twist {
    top: 50%;
    right: 38%;
}

.map__location_spatters {
    bottom: 32%;
    left: 15%;
}

.races-title {
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 48px;
}

.races {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 40px;
    padding: 50px 0 50px;
    max-width: 80%;
    margin: auto;
}

.race-card {
    display: flex;
    flex-direction: column;
    background-image: url('https://i.pinimg.com/originals/6a/72/de/6a72deda9a726ccb667916f3e1be5fe3.jpg');
    background-size: cover;
    position: relative;
}

.race-card::before {
    content:"";
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: block;
    background-color: rgba(0,0,0,.4);
    z-index: 2;
}

.race-image {
    object-fit: contain;
    max-width: 100%;
    max-height: 282px;
    border-radius: 50%;
    z-index: 3;
    margin: 15px;
}

.race-card__title {
    text-align: center;
    color: white;
    font-size: 30px;
    margin: 0 0 15px;
    z-index: 3;
}

.race-card__description {
    color: white;
    z-index: 3;
}

.books {
    background-color: rgb(59, 11, 11);
}

.book-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 80%;
    margin: auto;
    list-style-type: none;
}

.book__image {
    width: 240px;
    height: 350px;
}

.modal-window {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.5);
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    transition: visibility 1s, opacity 1s ease;
}

.modal-window_visible {
    opacity: 1;
    visibility: visible;
}

.popup__container {
    position: relative;
    max-width: 75vw;
    padding: 100px;
    border-radius: 50%;
    display: flex;
}

.popup__container_place {
    flex-direction: row;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
}

.popup__container_race {
    flex-direction: column;
    background-color: rgba(70, 5, 5, 0.6);
}

.popup__exit {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 40px;
    right: 30px;
    cursor: pointer;
    border: none;
    transition: opacity .5s ease-in-out .5s;
}

.popup__exit:hover {
    opacity: 0.6;
}

.popup__image {
    max-width: 50%;
    max-height: 350px;
    object-fit: contain;
}

.popup__info-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    max-width: 50%;
}

.popup__title {
    color: white;
    text-align: center;
}

.popup__text {
    color: white;
}

.popup__race-image {
    max-height: 50vh;
    width: 60%;
    margin: auto;
}